<!--
	Theme name:  ALEKPM
	Coding by:   Szalik
-->

<theme>
    <formatVersion>4</formatVersion>

    <view name="menu">
		<menuText name="menutitle">
			<fontSize>0.034375</fontSize>
			<color>FFBF00</color>
		</menuText>
		<menuText name="menufooter">
			<fontSize>0.0325</fontSize>
			<color>666666</color>
		</menuText>
		<menuText name="menutext">
			<fontSize>0.036</fontSize>
			<color>444444</color>
			<separatorColor>222222</separatorColor>
			<selectorColor>555555</selectorColor>
			<selectedColor>ffffff</selectedColor>
		</menuText>
		<menuTextSmall name="menutextsmall">
			<fontSize>0.03</fontSize>
			<color>d53600</color>
		</menuTextSmall>
		<menuBackground name="menubg">
			<color>111111</color>
			<cornerSize>20 20</cornerSize>
		</menuBackground>
    </view>
</theme>