
<theme>
    <formatVersion>4</formatVersion>

    <view name="menu">
        <menuText name="menutitle">
            <fontPath>./core/fonts/ubuntu_bold.ttf</fontPath>
            <fontSize>0.06</fontSize>
            <color>ffffff</color>
        </menuText>

         <menuText name="menufooter">
            <fontPath>./core/fonts/ubuntu_medium.ttf</fontPath>
            <fontSize>0.05</fontSize>
            <color>ffffff</color>
        </menuText>

       <menuText name="menutext">
            <fontPath>./core/fonts/ubuntu_medium.ttf</fontPath>
            <fontSize>0.045</fontSize>
            <color>969696</color>
            <separatorColor>fe0303</separatorColor>
            <selectorColor>ffffff</selectorColor>
            <selectorColorEnd>ffffff</selectorColorEnd>
            <selectedColor>fe0303</selectedColor>
        </menuText>

         <menuTextSmall name="menutextsmall">
            <fontPath>./core/fonts/ubuntu_medium.ttf</fontPath>
            <fontSize>0.035</fontSize>
            <color>deec00</color>
        </menuTextSmall>

       <menuBackground name="menubg">
            <color>000000</color>
        </menuBackground>

    </view>
</theme>